<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewy.wms2light.mapper.HeadMapper">
    <update id="updateHeadStatus" parameterType="Head">
        UPDATE W_STOCK_HEAD set
        statusno = #{statusno}
        WHERE pickno = #{pickno}
    </update>


    <delete id="deleteHead" parameterType="string">
        DELETE FROM W_STOCK_HEAD
        WHERE pickno = #{pickno}
    </delete>

</mapper>